.mbottom {
	margin-top: 20px;
}

.iletisimbilgi {
	margin-top: 20px;
}

.carousel-item>img {
	position: absolute;
	top: 30px !important;
	left: 0;
	min-width: 100%;
	height: auto;
}

.sola-kaydir {
	float: left;
	padding: 0 10px 0px 0;
}

.page-link {
	color: black !important;
	border: 1px solid #949495 !important;
}

.logo {
	position: absolute;
	z-index: 999;
	margin-top: -35px;
	display: block;
}

body {
	margin: 0px;
}

.navbar-center {
	text-align: center;
}

.context-dark, .bg-gray-dark, .bg-primary {
	color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
	color: #ffffff;
}

.nav-list li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-list li a:hover:before {
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 23px;
	font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
	content: "\f14f";
	font: 400 21px/1 "Material Design Icons";
	color: #4d6de6;
	display: inline-block;
	vertical-align: baseline;
	margin-left: -28px;
	margin-right: 7px;
	opacity: 0;
	visibility: hidden;
	transition: .22s ease;
}

#yukseklik {
	height: 250px !important;
}

@mixin clearfix () { &::after { display:block;
	content: "";
	clear: both;
}

}
.element { @include clearfix;
	
}

.card ul a {
	text-decoration: none;
	color: black;
}
/* Footer */
@import
	url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

section {
	padding: 60px 0;
	width: 100%;
}

section .section-title {
	text-align: center;
	color: #007b5e;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#footer h5 {
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

#footer ul.social li {
	padding: 3px 0;
}

#footer ul.social li a i {
	margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size: 30px;
	margin-top: -10px;
}

#footer ul.social li a, #footer ul.quick-links li a {
	color: #ffffff;
}

#footer ul.social li a:hover {
	color: #eeeeee;
}

#footer ul.quick-links li {
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover {
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

#footer ul.quick-links li a i {
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
	font-weight: 700;
}

@media ( max-width :767px) {
	#footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}

.site-footer {
	background-color: #26272b;
	padding: 20px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
	margin-bottom: -100px;
	margin-top: 20px;
}

.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5
}

.site-footer hr.small {
	margin: 20px 0
}

.site-footer h6 {
	font-size: 14px;
	line-height: 20px !important;
	color: #fff;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px
}

hr {
	margin-bottom: 0rem !important;
	margin-top: -1rem !important;
}

.site-footer a {
	color: #737373;
}

.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-links {
	margin: 0px;
	padding-left: 0;
	list-style: none
}

.footer-links li {
	display: block
}

.footer-links a {
	color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
	color: #3366cc;
	text-decoration: none;
}

.footer-links.inline li {
	display: inline-block
}

.site-footer .social-icons {
	text-align: right
}

.site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d
}

.copyright-text {
	margin: 0
}

@media ( max-width :991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px
	}
	.navbar-nav {
		margin-top: 70px !important;
	}
}

@media ( max-width :767px) {
	.site-footer {
		padding-bottom: 0
	}
	.site-footer .copyright-text, .site-footer .social-icons {
		text-align: center
	}
}

.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px
}

.social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px
}

.social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
	color: #fff;
	background-color: #29aafe
}

.social-icons.size-sm a {
	line-height: 34px;
	height: 34px;
	width: 34px;
	font-size: 14px
}

.social-icons a.facebook:hover {
	background-color: #3b5998
}

.social-icons a.twitter:hover {
	background-color: #00aced
}

.social-icons a.linkedin:hover {
	background-color: #007bb6
}

.social-icons a.dribbble:hover {
	background-color: #ea4c89
}

@media ( max-width :767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600
	}
	.usttenYukseklik {
		margin-top: 15px !important;
	}
	.copyright-text {
		text-align: left !important;
	}
}
/*Bana Ait css kodları*/
.btn-primary:hover {
	background-color: #007bff !important;
	border-color: #007bff !important;
	color: #e9e9e9!important;
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.btn-primary {
	background-color: #007bff !important;
	border-color: #007bff !important;
	color: rgba(255, 255, 255, .5) !important;
	background-color: #007bff !important;
	border-color: #007bff !important;
}
.fa-user-plus{
	color: rgba(255, 255, 255, .5) !important;
}
.fa-user-plus:hover{

	color: #e9e9e9!important;
}
.hlinkcolor{
	color: rgba(255, 255, 255, .5) !important;
}
.hlinkcolor:hover{
	color: #e9e9e9!important;
}

.aTagiMargin16px{
	    margin-right: -15px;
}

.navbar-toggler{
	margin-left: 400px;
}


@media only screen and (max-width: 992px) {
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    margin-left: 650px !important;
}
.usttenYukseklik
{
	margin-top: -52px !important;
}
}
@media only screen and (max-width:767px) {
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    margin-left: 350px !important;
}
.usttenYukseklik {
    margin-top: 0px !important;
}
}